[submodule "LearnSpring-BinaryTea"]
	path = LearnSpring-BinaryTea
	url = https://github.com/skyloved1/BinaryTea.git

[submodule "LearnSpring-BinaryTeaConsumer"]
	path = LearnSpring-BinaryTeaConsumer
	url = https://github.com/skyloved1/LearnSpring-BinaryTeaConsumer.git

[submodule "LearnSpring-Demo"]
    path = LearnSpring-Demo
    url = https://github.com/skyloved1/LearnSpring-Demo.git